.funds-grid {
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;
        justify-content: center;
        align-content: center;
}

.funds-grid h4:nth-of-type(4n+1), h4:nth-of-type(4n+2) {
        background-color: rgb(202, 202, 202);
}

.fund {
        padding: .5rem;
        font-size: medium;
        border: 1px solid #333333;
        margin-bottom: 0 - 1px;
        font-size: 1.2rem;
        font-weight: normal;
}