.container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        min-height: calc(100vh - 3.5rem);
        position: relative;
        top: 3.8em;
        color: black;
}

.graph-container {
        margin-top: 1rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.graph-tools {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
}

.graph-sidebar {
        min-width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;
        margin-left: 1rem;
}

.graph-metrics-menu > div:nth-child(1) {
        margin-bottom: 1.5rem;
}

.graph-metrics-menu > div:nth-child(2) {
        margin-bottom: .5rem;
}

.graph-dates-menu {
        min-width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.compare-btn {
        margin-top: 1rem;
}

.empty-date::before {
        content: "Elige dos fechas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        right: 15%;
        width: 100%;
}

.equal-dates::before {
        content: "Las fechas deben ser distintas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        left: -12%;
        width: 160%;
}

@media only screen and (max-width: 1200px) {
        .container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }

        .graph-container {
                width: 90%;
        }

        .graph-sidebar {
                width: 80%;
                flex-direction: row;
                justify-content: flex-start;
        }

        .graph-metrics-menu {
                width: 70%;
                min-width: 24rem;
                display: flex;
                align-items: center;
                margin-right: 4rem;
        }

        .graph-metrics-menu > div:nth-child(1) {
                margin-right: 4rem;
                margin-bottom: 0;
        }
        
        .graph-metrics-menu > div:nth-child(2) {
                margin-bottom: 0;
        }

        .compare-btn {
                align-self: center;
        }
}

@media only screen and (max-width: 1000px) {
        .graph-container {
                width: 95%;
        }

        .graph-tools {
                width: 100%;
        }
}

@media only screen and (max-width: 750px) {
        .graph-sidebar {
                width: 95%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        }

        .graph-metrics-menu {
                width: 80%;
                min-width: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                margin-right: 0;
        }

        .graph-metrics-menu > div:nth-child(1) {
                margin-right: 0;
                margin-bottom: 1rem;
        }
}

@media only screen and (max-width: 600px) {
        .graph-tools {
                align-self: center;
                width: 90%;
        }

        .graph-sidebar {
                width: 90%;
        }
}
